.container {
  width: 100%;
  max-width: 40rem;
  padding: calc(var(--spacer) * 2) calc(var(--spacer) / 1.5);
}

.logo {
  height: 3.5rem;
}

.title {
  text-align: center;
  color: var(--brand-blue);
}

.grid {
  display: grid;
  grid-gap: calc(var(--spacer) / 1.5);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--box-template-font-color);
  background: var(--box-template-background);
  border-radius: var(--box-template-border-radius);
  border: var(--box-template-border-size) solid var(--box-template-border-color);
  box-shadow: var(--box-template-box-shadow);
  padding: var(--spacer);
  text-align: center;
}
